<!DOCTYPE html>
<html>
  {{> head}}
  <body>
    {{> header}}
    <div class="container">
      <div class="main">
        <div class="entry">
        {{#entry}}
          {{#date}}
          <a class="small date" href="{{{url}}}">{{date}}</a>
          {{/date}}
          
          {{{html}}}
          
          {{#tags.length}}
          <br />
          <p>
            {{#tags}}
            <a class="small tag" href="/tagged/{{slug}}">{{name}}</a>
            {{/tags}}
          </p>
          {{/tags.length}}

          <div class="clear"></div>
          {{> pluginHTML}}
          <div class="clear"></div>

          {{#adjacent}}
          <hr class="full" />
          {{/adjacent}}
          
          <style>
            .giscus-frame{border-left-width: 0px;border-left-style: solid;border-top-width: 0px;border-top-style: solid;border-right-width: 0px;border-right-style: solid;border-bottom-width: 0px;border-bottom-style: solid;}
          </style>
            <script src="https://giscus.vercel.app/client.js"
                    data-repo="nicksherefkin/slingshotdiviningrod"
                    data-repo-id="MDEwOlJlcG9zaXRvcnkzNjg1ODE3Njk="
                    data-category-id="MDE4OkRpc2N1c3Npb25DYXRlZ29yeTMyOTQwMTY5"
                    data-mapping="pathname"
                    data-theme="light"
                    crossorigin="anonymous"
                    async>
            </script>

          {{#previous}}
          <a class="halfWidth left previousEntry" href="{{{url}}}">
            <h5>Previous post</h5>
            <span class="title">{{title}}</span>
            <span class="summary">{{summary}}</span>
          </a>
          {{/previous}}

          {{#next}}
          <a class="left halfWidth nextEntry" href="{{{url}}}">
            <h5>Next post</h5>
            <span class="title">{{title}}</span>
            <span class="summary">{{summary}}</span>
          </a>
          {{/next}}
        {{/entry}}
        </div>
        {{> footer}}
      </div>
    </div>
  </body>
</html>